[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pydantic-settings = "*"
feedparser = "*"
pycord = {version = "*", extras = ["ext"]}
urllib3 = "*"
py-cord = "*"
pyyaml = "*"
markdownify = "*"
pydantic-extra-types = "*"

[dev-packages]
mypy = "*"
mypy-extensions = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-html = "*"
pytest-cov = "*"
hatch = "*"
types-urllib3 = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
